@font-face {
  font-family: "iconfont"; /* Project id 3370722 */
  src: url('iconfont.woff2?t=1656747766106') format('woff2'),
       url('iconfont.woff?t=1656747766106') format('woff'),
       url('iconfont.ttf?t=1656747766106') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e624";
}

.icon-zuojiantou:before {
  content: "\e625";
}

.icon-xinlangweibo:before {
  content: "\e602";
}

.icon-qzone:before {
  content: "\e642";
}

.icon-pengyouquan-copy:before {
  content: "\e659";
}

.icon-shejiaotubiao-48:before {
  content: "\e648";
}

.icon-icon:before {
  content: "\e68e";
}

.icon-pinglun:before {
  content: "\e60a";
}

.icon-gengduo:before {
  content: "\e78a";
}

.icon-cuowuguanbiquxiao-xianxingyuankuang:before {
  content: "\e8e7";
}

.icon-menu2:before {
  content: "\e609";
}

.icon-sousuo:before {
  content: "\e653";
}

.icon-backtop:before {
  content: "\e6c6";
}

.icon-zhihu:before {
  content: "\ea8c";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e601";
}

