@font-face {
  font-family: "iconfont"; /* Project id 3370722 */
  src: url('iconfont.woff2?t=1656408779532') format('woff2'),
       url('iconfont.woff?t=1656408779532') format('woff'),
       url('iconfont.ttf?t=1656408779532') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e78a";
}

.icon-pinglun3:before {
  content: "\e602";
}

.icon-chakan:before {
  content: "\e60e";
}

.icon-cuowuguanbiquxiao-xianxingyuankuang:before {
  content: "\e8e7";
}

.icon-menu2:before {
  content: "\e609";
}

.icon-sousuo:before {
  content: "\e653";
}

.icon-backtop:before {
  content: "\e6c6";
}

.icon-zhihu:before {
  content: "\ea8c";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-csdn:before {
  content: "\e600";
}

.icon-github:before {
  content: "\e601";
}

