<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
:: 实现：文章内容
:: 描述：
:: 显示缩略的文章内容
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

{% assign without-image = nil %}
<div class="article">
  <div class="container">

    <div class="article__wrapper">

      {% if post.image %}
      <!-- <a href="{{post.url | prepend: site.baseurl}}" class="article__image"
        style="background-image: data-lazy-src({{post.image}})"> -->
      <a href="{{post.url | prepend: site.baseurl}}" class="image__box">
        <img data-lazy-src="{{ post.image }}" class="article__image">
      </a>
      {% else %}
      {% assign without-image = 'article-without-image' %}
      {% endif %}

      <div class="article__content {{ without-image }}">
        <div class="article-tags">
          {% if post.tags.size >= 1 %}
          <div class="article-tags__box">
            {% for tag in post.tags %}
            <a href="{{ site.baseurl }}/tag/{{ tag | downcase | replace: " ", " -" }}" class="article__tag">{{ tag
              }}</a>
            {% endfor %}
          </div>
          {% else %}
          {% endif %}
        </div>

        <h2 class="article__title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content |
          strip_html | truncate: 185 }}{% endif %}</p>

        <div class="article__footer">
          <!-- 发布时间 -->
          <span class="article__date">
            <time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format =
              site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time>
          </span>

          <!-- 文章的数据 -->
          <div class="article__data">
            <!-- 1、阅读量 -->
            <span class="iconfont icon-icon"></span>
            <span id="value__page"></span>
            <!-- 2、分割 -->
            <span class="septal"></span>
            <!-- 3、评论数 -->
            <span class="iconfont icon-pinglun"></span>
            <span id="sourceId::{{ post.title }}" class="cy_cmt_count"></span>
            <script id="cy_cmt_num"
              src="https://cy-cdn.kuaizhan.com/upload/plugins/plugins.list.count.js?clientId=cyw3W6zFu"></script>
          </div>

          <!-- 阅读全文 -->
          <a href="{{post.url | prepend: site.baseurl}}" class="read-more">阅读全文<i class="iconfont icon-gengduo"></i></a>
        </div>
      </div>

    </div>

  </div>

</div>