<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
:: 实现：网页统计
:: 描述：
:: 安装百度统计
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");

    if ('{{ site.url }}'.includes('hub-shengqing.github.io')) {
      hm.src = '{{ site.data.settings.github-hm-src }}';
    } else {
      hm.src = '{{ site.data.settings.gitee-hm-src }}';
    }

    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>