<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
:: 实现：头部
:: 描述：
:: 网页的头部结构
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

<div class="container">
  <div class="row">
    <div class="col col-12">
      <!-- 开始头部 -->
      <header class="header">

        <div class="logo">
          <a class="logo__link" href="{{ site.baseurl }}/">
            {%if site.data.settings.logo %}
            <img class="logo__image" src="{{ site.baseurl }}/assets/images/{{ site.data.settings.logo }}"
              alt="{{ site.data.settings.title }}">
            {% else %}
            {{ site.data.settings.title }}
            {% endif %}
          </a>
        </div>

        <nav class="main-nav">

          <div class="main-nav__box">
            <div class="nav-icon__close">
              <i class="iconfont icon-cuowuguanbiquxiao-xianxingyuankuang"></i>
            </div>

            <div class="nav__title">目录</div>

            <ul class="nav__list list-reset">
              <li class="nav__item">
                <a href="{{site.baseurl}}/" class="nav__link">首页</a>
              </li>
              {% for page in site.pages %}
              {% unless page.name == 'tags.html' or page.name == '404.html' %}
              {% if page.title %}
              <li class="nav__item">
                <a href="{{ page.url | prepend: site.baseurl }}" class="nav__link">{{ page.title }}</a>
              </li>
              {% endif %}
              {% endunless %}
              {% endfor %}
            </ul>

          </div>
        </nav>

        <div class="nav-buttons">
          <i class="nav__icon nav__icon-menu iconfont icon-menu2" aria-label="Menu Icon"></i>
          <i class="nav__icon nav__icon-search iconfont icon-sousuo" aria-label="Search Icon"></i>
        </div>

        <div class="header__overlay"></div>
      </header>
      <!-- 结束头部 -->
    </div>
  </div>
</div>