<!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
:: 实现：简介
:: 描述：
:: 个人简介的页面结构
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

<div class="hero">
  <div class="container">
    <div class="row">

      <div class="col col-6 col-t-12 last-item">
        <div class="hero__content">
          <h1 class="hero__title">{{ site.data.settings.author.say-hello }}</h1>
          <p class="hero__subtitle">{{ site.data.settings.author.bio }}</p>
          <h4 class="hero__motto">@座右铭</h4>
          <p class="hero__submotto">{{ site.data.settings.author.motto }}</p>
          <div class="hero__social">
            <span class="hero__social-title">关注升卿 |</span>
            {% include contact-link.html %}
          </div>
        </div>
      </div>

      <div class="col col-6 col-t-12">
        <div class="hero__image">
          <img src="{{ site.data.settings.author.image }}">
        </div>
      </div>

    </div>
  </div>
</div>