// 联系方式列表的样式设置
.contact {
  .contact__list {
    li {
      margin-left: 15px;
      display: inline-block;

      a i {
        vertical-align: middle;
        font-size: 18px;
        color: #bbb;

        &:hover {
          color: $dark;
        }
      }
    }
  }
}