.hero {
  padding: 40px 0;
  margin-bottom: 40px;
  background: #f5f5f5;

  .last-item {
    display: flex;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 40px 0 0;

    // 招呼语
    .hero__title {
      font-size: 36px;
      line-height: 1.2;
      font-weight: normal;
    }

    // 简介
    .hero__subtitle {
      font-size: 18px;
      letter-spacing: 1.0px;
    }

    // 座右铭标题
    .hero__motto {
      color: $cyan;
      line-height: 1.4;
    }

    // 座右铭
    .hero__submotto {
      padding: 0em 1em;
      color: $red;
      font-weight: 700;
    }

    // 社交方式
    .hero__social {
      display: flex;
      line-height: 30px;
      align-items: center;
    }

    // 社交方式的标题
    .hero__social-title {
      text-align: center;
      font-weight: 700;
    }

  }

  // 个人图片
  .hero__image {
    img {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }
  }

  @media only screen and (max-width: $desktop) {
    .hero__content {
      padding: 0;

      .hero__subtitle {
        font-size: 16px;
      }
    }
  }

  @media only screen and (max-width: $tablet) {
    margin-bottom: 40px;

    .last-item {
      order: 1;
    }

    .hero__content {
      .hero__title {
        margin-bottom: 20px;
        font-size: 27px;
      }
    }

    .hero__image {
      margin-bottom: 20px;

      img {
        box-shadow: none;
      }
    }
  }

  @media only screen and (max-width: $mobile) {
    padding: 40px 0;
  }
}