// 文本对齐
.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}


// 显示方式
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}


// 垂直居中
.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
}


// 显示状态
.show {
	display: block;
}

.hide {
	display: none;
}

.invisible {
	visibility: hidden;
}


// 浮动
.float-left {
	float: left;
}

.float-right {
	float: right;
}


// 内边框
.no-padding {
	padding: 0;
}


// 外边框
.no-margin {
	margin: 0;
}


// 列表重置
.list-reset {
	@include list-reset();
}


// 清除浮动
.clearfix {
  @include clearfix();
}


// 屏幕阅读器
.screen-reader-text {
	@include screen-reader();
}