// 清除浮动
@mixin clearfix() {
  &::after,
  ::before {
    content: "";
    display: table;
    clear: both;
  }
}


// 重置列表
@mixin list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


// 屏幕阅读器文本
@mixin screen-reader() {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
