// *****************
// 全局变量
// *****************
// 间隙
$base-spacing-unit: 20px;

// 边框半径
$global-radius: 3px;

// 过渡
$global-transition: all .35s;


// *****************
// 颜色变量
// *****************
$brand-color: #f0464b; // 标记色
$red: #ab1942;
$blue: #007aaa;
$cyan: #016c76;
$black: #000000;
$dark: #333333;
$gray: #888888;
$light-gray: #ececec;
$white: #ffffff;

// 背景色
$background-color: $white;

// 主题色
$text-color: $dark;

// 标题色
$heading-font-color: $black;

// 链接色
$link-color: $blue;
$link-color-hover: darken($dark, 15%);

// 按钮色
$button-color: $white;
$button-background-color: $brand-color;

// 边框色
$border-color: $light-gray;


// *****************
// 排版
// *****************
$base-font-size: 16px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
$base-font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue,
    PingFang SC, Hiragino Sans GB, Microsoft YaHei UI, Microsoft YaHei,
    Arial, sans-serif;
// $base-font-family: "Times New Roman", Garamond, "MS Serif", serif;
// $base-font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", "Noto Serif Japanese", serif;
$base-line-height: 1.75;

// 标题
$heading-font-weight: 700;
$heading-font-family: $base-font-family;
$font-size-h1: 24px;
$font-size-h2: 20px;
$font-size-h3: 16px;
// $font-size-h1: 36px;
// $font-size-h2: 28px;
// $font-size-h3: 24px;
// $font-size-h4: 20px;
// $font-size-h5: 18px;
// $font-size-h6: 16px;
$heading-line-height: 2.0;