---
layout: default
---
<div class="container">
  <div class="post-title-box">
    <div class="row">
      <div class="post col col-8 col-t-10 col-m-12">
        <!-- 时间和阅读量 -->
        <div class="post__dr">
          <span class="post__date">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%b %d, %Y' }}</time>
          </span>
          <span id="busuanzi_container_page_pv" style="display:none" class="post__reading">阅读 <span
              id="busuanzi_value_page_pv"></span></span>
        </div>

        <h1 class="post-title">{{ page.title | escape }}</h1>

        <div class="post__info">
          <div class="post__author">
            <span>By</span>
            <a href="{{ site.baseurl }}/about/" class="author-name">{{ site.data.settings.author.name }}</a>
          </div>

          {% if page.tags.size >= 1 %}
          <div class="post__tags">
            {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tag/{{ tag | downcase | replace: " ", " -" }}" class="post__tags-tag">{{ tag
              }}</a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- 选择显示文章封面插图 -->
  <!-- {% assign no-image = nil %}
  {% if page.image %}
  <div class="post__head">
    <div class="post-image" style="background-image: url({{page.image}})"></div>
  </div>
  {% else %}
  {% assign no-image = 'post-no-image' %}
  {% endif %} -->

</div>

<div class="container">
  <div class="row">
    <!-- 文章开始 -->
    <article class="post col col-8 col-t-10 col-m-12">
      <!-- 1、文章内容 -->
      <div class="post__content">
        <div class="post__excerpt"></div>
        {{ content }}
      </div>

      <!-- 2、文章分享 -->
      <div class="post__share">
        <span class="share__title">分享本文：</span>
        <ul class="share__list list-reset">
          <li class="share__item">
            <a class="share__wechat"
              href="http://qr.liantu.com/api.php?text={{ site.url }}{{ site.baseurl }}{{ page.url }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
              title="分享到微信" rel="nofollow">
              <i class="iconfont icon-pengyouquan-copy" style="font-size: 16px;"></i>
            </a>
          </li>

          <li class="share__item">
            <a class="share__douban"
              href="http://www.douban.com/share/service?href={{ site.url }}{{ site.baseurl }}{{ page.url }}&name={{ page.title | uri_escape }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
              title="分享到豆瓣" rel="nofollow">
              <i class="iconfont icon-shejiaotubiao-48" style="font-size: 18px;"></i>
            </a>
          </li>

          <li class="share__item">
            <a class="share__QQ"
              href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | uri_escape }}&summary={{ page.description | uri_escape }}&source={{ site.title | uri_escape }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
              title="分享到 QQ" rel="nofollow">
              <i class="iconfont icon-qzone" style="font-size: 18px;"></i>
            </a>
          </li>

          <li class="share__item">
            <a class="share__weibo"
              href="http://service.weibo.com/share/share.php?url={{ site.url }}{{ page.url }}&description={{ page.title | uri_escape }}"
              onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
              title="分享到微博" rel="nofollow">
              <i class="iconfont icon-xinlangweibo" style="font-size: 16px;"></i>
            </a>
          </li>
        </ul>
      </div>
    </article>
    <!-- 文章结束 -->
  </div>
</div>

<div class="container">
  <div class="post__navigation">
    {% if page.previous.url %}
    <div class="prev">
      <a class="post__nav__image" href="{{ site.baseurl }}{{page.previous.url}}"
        style="background-image: url({{page.previous.image}})"></a>
      <h2 class="post__nav__title">
        <i class="iconfont icon-zuojiantou" style="font-size: 1em;"></i>
        <a href="{{ site.baseurl }}{{page.previous.url}}">{{page.previous.title}}</a>
      </h2>
      <p class="prev__excerpt">
        {% if page.previous.description %}
        {{ page.previous.description }}
        {% else %}
        {{ page.previous.content | strip_html | truncate: 110 }}
        {% endif %}
      </p>
    </div>
    {% endif %}

    {% if page.next.url %}
    <div class="next">
      <a class="post__nav__image" href="{{ site.baseurl }}{{page.next.url}}"
        style="background-image: url({{page.next.image}})">
      </a>
      <h2 class="post__nav__title">
        <a href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}</a>
        <i class="iconfont icon-youjiantou" style="font-size: 1em;"></i>
      </h2>
      <p class="next__excerpt">
        {% if page.next.description %}
        {{ page.next.description }}
        {% else %}
        {{ page.next.content | strip_html | truncate: 110 }}
        {% endif %}
      </p>
    </div>
    {% endif %}
  </div>

  <!-- 安装畅言的“打赏”组件 -->
  <div id="cyReward" role="cylabs" data-use="reward"></div>
  {% if site.data.settings.changyan-appid %}
  <div id="SOHUCS" sid="{{ page.title }}"></div>
  {% include changyan-comments.html %}
  {% endif %}
  <script type="text/javascript" charset="utf-8"
    src="https://cy-cdn.kuaizhan.com/js/??lib/jquery.js,changyan.labs.https.js?appid=cyw3W6zFu"></script>
</div>